<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <%- cabecera -%>

    <div class="container">
        <div id="main-container">
        </div>
        <main>
            <div class="jumbotron">
                <h1>Transportes Javier P&iacute;riz</h1>
                <p>Stock de repuestos</p>
            </div>

    </main>
    </div>

    <% include ../partials/footer %>
</body>
</html>
