<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Bienvenido</h4>

            <form action="/login" method="post">
            <input type="text" id="userName" name="username" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input type="password" id="userPassword" name="password" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <button class="btn btn-primary btn-md">Iniciar Sesi&oacute;n <i class="fa fa-sign-in"></i></button>
            </span>
        </form>
            </div>
            </div>

        </div>
    </div>
    <% include ../partials/footer %>
</div>
